# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.DS_Store

# databases
*.db
*.db-shm
*.db-wal

# session data & secrets
.data/
server_config.toml
.config.toml
mm_state*.json

# temp/debug/scratch
test.ts
test*.txt
test.html
buntest.ts
tree_test*.ts
out.html
results*.json

# Playwright
playwright-report/
test-results/
